label{
    font-family: sans-serif;
    font-size: 0.75rem;
}
form{
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;
    margin: auto;
    padding:1rem 2rem;
    max-width: 50%;
    align-content: center;
    box-shadow: 2px 0px 3px 2px black;
}
select,
textarea,
input{
    width:100%;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: #fefefe;
    border: none;
    color: rgb(61, 61, 233);
    padding: 0.1rem 0.5rem;
    border-radius: 3px;

}
input:disabled{
        color: #ff9501;
    background-color: rgb(7, 120, 48);

}

.reg{
    text-align: center;
}
.container{
    margin: auto;
}
input[type="radio"]{
    width: auto;
}

input[type="checkbox"]{
    width: auto;
}
input[type="submit"]{
    background-color: rgb(54, 160, 54);
    color:whitesmoke;
    padding:0.25rem 0.3rem;
    margin:3px;
    width: auto;
    

}
input[type="submit"]:hover{
    background-color: rgb(80, 236, 80);
}
.sub{
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}