.hello{
    color: rgb(71, 25, 25);
    background-color: beige;
}
.hi{
    color: rgb(20, 20, 78);
    background-color: greenyellow;
    line-height: 1.25;
     font-family: Cambria;
}

.hello{
text-align: center;
 text-transform: capitalize;
 text-shadow: 1px 1px 5px black;
 /* font-style: italic; */
 font-family: 'Lucida Sans';
 margin: 20px;
 padding: 10px;
 border: 2px solid red;


}
.label{
display: inline-block;
text-align: center;
}
.box{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px; 
    justify-content: space-between;
    background-color: aquamarine;
box-shadow: 2px 2px 5px 4px rgb(16, 16, 48);
}
.box div:first-child{
    background-color: rgb(164, 19, 19);
    color: white;
    padding: 10px;
    border: 5 px solid white;
}
.extra{
    display: flex;
opacity: 0.5;
cursor: grab;
justify-content: center;

}
.extra:hover{
color: blue;
background: whitesmoke;
padding: 10px;
margin:5px;
box-shadow: 2px 2px 5px 4px rgb(16, 16, 48);

}

.info{
    margin: 5px;
    padding: 2px;
    /* padding: 25vh; */
    display:flex;
    box-shadow: 2px 2px 4px 3px black;
    font-size: 20px;
    font-size: 1rem;
    height: 100px;
    width : 200px;
    overflow-x: scroll;

}