.tb{
    margin: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    border: 2px solid black;
    padding: 0.5rem 0.75rem;
    color: white;
    background-color: cornflowerblue;
}
td{
    border: 2px solid black;
    padding: 0.5rem 0.75rem;

}
table tfoot tr:last-child td{
    text-align: center;
    background-color: rgb(154, 82, 82);
    color: white;

}
table tbody tr:nth-child(2){
    color:gray;
    background-color: bisque;
}
/* even row */
table tbody tr:nth-child(2n) td{
    background-color: rgb(76, 77, 79);
}
/* odd row */
table tbody tr:nth-child(2n+1) td{
    background-color: rgb(107, 130, 176);
}