 .box{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    animation: my-animation 20s ease-in-out infinite;
}
/* .box:hover{ */
    /* transform: translateX(300px); */
    /* transform: rotate(365deg); */
    /* transform: scale(2); */
/*    transform: skew(90deg, 90deg);
}
 */
 @keyframes my-animation{

    0%{
        transform: translate(300px);
        background-color: rgb(10, 144, 99);

    }
    25%{
        transform:rotate(90deg);
        background-color: rgb(1, 216, 145);

    }
    50%{
        transform: rotate(270deg);
        background-color: rgb(0, 255, 170);
    }
    75%{
        transform: skew(90deg,25deg);
        background-color: rgb(1, 53, 36);
    }
    100%{
        transform: translate(0px, 300px);
        background-color: aquamarine;
    }
 }