.gridbox{
    background-color: rgb(100, 227, 227);
    padding: 1rem;
    display: grid;
    grid-template-areas:
    "one one three eleven"
    "four five six six"
    "seven seven seven seven"
    "two two eight eight"
    "nine nine nine ten"
    "twelve . . .";
    
    width: 100%;
    gap:1rem;
    column-gap: 1rem;
}
.content{
    height:200px;
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
}  
.one{
    grid-area: one;
} 
.two{
    grid-area:two;
} 
.three{
    grid-area: three;
} 
.four{
    grid-area: four;
} 
.five{
    grid-area: five;
} 
.six{
    grid-area: six;
} 
.seven{
    grid-area: seven;
} 
.eight{
    grid-area: eight;
} 
.nine{
    grid-area: nine;
} 
.ten{
    grid-area: ten;
} 
.eleven{
    grid-area: eleven;
} 
.twelve{
    grid-area: twelve;
} 