/* .box1{
    height: 200vh;
    width:500px;
    background-color: aqua;
    position: relative;
    left: 30px;
}

.box2{
    height: 300px;
    width:300px;
    background-color:antiquewhite;
    position:relative;
    right:20px;
    z-index: 3;
    

}

.box3{
    height: 200px;
    width:200px;
    background-color: rgb(22, 72, 55);
    position:sticky;
    top:5px;
    left:10px;
    z-index:5;

} */
/* 
position: static, relative, absolute, fixed, sticky */
.bg{
    height:500px;
    width:100%;
    background-image: url(baby.JPG);
    background-size: contain;
    background-repeat: no-repeat;

}